* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    min-height: 150vh;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);
}

section .content {
    min-width: 1000px;
    text-align: center;
}

section .content h2 {
    font-size: 5em;
    color: rgb(23 59 211);
    font-weight: 700;
}
